#images .panel {
	padding: 5px;
}
#images .panel .panel-footer {
	margin: 10px -5px 0;
}
#images .panel .panel-body img {
	width:100%;
	height:100px;
	display:block;
	margin:auto;
}
@media screen and (max-width:967px){
	#images .panel .panel-body img {
		height:auto;
	}

}