<template>
    <div id="formNewsletter">
        <form method="post" @submit.prevent="send($event, form)" autocomplete="off">
            <div class="form-process" style="max-height: 150px;"></div>
            <div class="boxNewslleter">
                <div class="boxs box_one">
                    <label for="newsletter-name">Nome:</label>
                    <input type="text"
                           v-model="form.name"
                           @input="$v.form.name.$touch()"
                           id="newsletter-name"
                           placeholder="Nome e sobrenome"
                           class="form-control">
                </div>
                <div class="boxs box_one">
                    <label for="newsletter-phone">Telefone:</label>
                    <the-mask :mask="['(##) ####-####', '(##) #####-####']"
                              masked
                              v-model="form.phone"
                              @input="$v.form.phone.$touch()"
                              id="newsletter-phone"
                              placeholder="(00) 00000-0000"
                              class="form-control"/>
                </div>
                <div class="boxs box_one">
                    <label for="newsletter-email">E-mail:</label>
                    <input type="email"
                           v-model="form.email"
                           @input="$v.form.email.$touch()"
                           id="newsletter-email"
                           placeholder="email@gmail.com"
                           class="form-control">
                </div>
                <div class="boxs box_one">
                    <button class="button button-xlarge btn-block topmargin-xs sendNewsletter" :disabled="$v.form.$invalid">
                        Cadastrar
                    </button>
                </div>
            </div>
        </form>
        <!-- feedback -->
        <sweet-modal ref="feedback" :icon="feedback.icon" overlay-theme="dark" width="400">
            {{ feedback.message }}
        </sweet-modal>
        <!-- feedback -->
    </div>
</template>

<script>

    // componentes
    import {SweetModal} from 'sweet-modal-vue'
    import {TheMask} from 'vue-the-mask'

    // validations
    import { validationMixin } from 'vuelidate'
    import {required,email,maxLength, minLength} from 'vuelidate/lib/validators'

    export default {
        name: "FormNewsletter",

        components: {
            TheMask,
            SweetModal
        },

        mixins: [validationMixin],

        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    phone: ''
                },
                feedback: {
                    message: 'algo.',
                    icon: 'info'
                }
            }
        },

        validations: {
            form: {
                name: {required},
                email: {required, email},
                phone: {required, minLength: minLength(12)}
            }
        },

        watch: {
            '$v.form.$invalid'(value) {
                let button = $('.sendNewsletter');

                if(value) {
                    button.removeClass('animated jello');
                }else{
                    button.addClass('animated jello');
                }
            }
        },

        methods: {
            send(event, form) {
                let element = $(event.target.firstChild)[0];

                $(element).fadeIn(500, () => {
                    setTimeout(() => {
                        axios.post('/services/newsletter', form)
                            .then(response => {
                                if(response.status === 201) {
                                    this.feedback = {
                                        message: 'Cadastro realizado! Agora confirme sua inscrição, enviamos um link para seu email.',
                                        icon: 'success'
                                    };
                                    this.$refs.feedback.open();
                                    this.reset();
                                }
                            })
                            .catch(error => {
                                //
                                this.feedback.icon = 'error';
                                if(error.response.status === 400 || error.response.status === 500) {
                                    this.feedback.message = 'Ocorreu algum erro inesperado, atualize a pagina e tente novamente!'
                                }else if(error.response.status == 422) {
                                    _.forEach(error.response.data.errors, error => this.feedback.message = error[0])
                                }
                                // abrir mensagem
                                this.$refs.feedback.open();

                            });

                        // hide loading
                        $(element).fadeOut(500);

                    }, 500)
                })
            },

            reset() {
                this.form = this.copyForm;

                this.$v.form.$reset();
            }
        },

        created() {
            this.copyForm = _.cloneDeep(this.form);
        }
    }
</script>

<style scoped>

</style>