<template>
    <form class="nobottommargin" method="post" @submit.prevent="send($event,mail)" novalidate autocomplete="off">

        <div class="form-process" style="max-height: 440px;"></div>

        <div class="col_one_third">
            <label for="name">Nome <small>*</small></label>
            <input
                    id="name"
                    class="sm-form-control"
                    :class="{'error': $v.mail.name.$error}"
                    v-model="mail.name"
                    @input="$v.mail.name.$touch()">
        </div>

        <div class="col_one_third">
            <label for="email">E-mail <small>*</small></label>
            <input
                    type="email"
                    id="email"
                    class="sm-form-control"
                    :class="{'error': $v.mail.email.$error}"
                    v-model="mail.email"
                    @input="$v.mail.email.$touch()">
        </div>

        <div class="col_one_third col_last">
            <label for="phone">Telefone</label>
            <the-mask
                    :mask="['(##) ####-####', '(##) #####-####']"
                    masked
                    id="phone"
                    v-model="mail.phone"
                    @input="$v.mail.phone.$touch()"
                    class="sm-form-control"
                    :class="{'error': $v.mail.phone.$error}"/>
        </div>

        <div class="clear"></div>

        <div class="col_two_third">
            <label for="subject">Assunto <small>*</small></label>
            <input
                    id="subject"
                    v-model="mail.subject"
                    @input="$v.mail.subject.$touch()"
                    class=" sm-form-control"
                    :class="{'error': $v.mail.subject.$error}">
        </div>

        <div class="col_one_third col_last">
            <label for="service">Serviços</label>
            <select id="service" v-model="mail.service" :class="{'error': $v.mail.service.$error}" @input="$v.mail.service.$touch()" class="sm-form-control">
                <option value="" disabled>-- Selecione --</option>
                <option value="suporte" selected>Suporte</option>
            </select>
        </div>

        <div class="clear"></div>

        <div class="col_full">
            <label for="message">Mensagem <small>*</small></label>
            <textarea
                    class=" sm-form-control"
                    :class="{'error': $v.mail.message.$error}"
                    id="message"
                    rows="6"
                    cols="30"
                    @input="$v.mail.message.$touch()"
                    v-model="mail.message"></textarea>
            <span class="feedback" style="float: right;font-size: .8em;color: #999;">({{ mail.message.length}} / 250)</span>
        </div>

        <div class="col_full">
            <button tabindex="5" class="button button-3d nomargin sendMail" :disabled="$v.mail.$invalid">Enviar mensagem</button>
        </div>

        <!-- feedback -->
        <sweet-modal ref="feedback" :icon="feedback.icon" overlay-theme="dark" width="400">
            {{ feedback.message }}
        </sweet-modal>
        <!-- feedback -->
    </form>
</template>

<script>
    // componentes
    import {SweetModal} from 'sweet-modal-vue'
    import {TheMask} from 'vue-the-mask'

    // validations
    import { validationMixin } from 'vuelidate'
    import {required,email,maxLength, minLength} from 'vuelidate/lib/validators'

    export default {
        name: "FormContato",

        components: {
            TheMask,
            SweetModal
        },

        mixins: [validationMixin],

        data() {
            return {
                mail: {
                    name: '',
                    email: '',
                    phone: '',
                    subject: '',
                    service: '',
                    message: ''
                },

                feedback: {
                    message: 'algo.',
                    icon: 'info'
                }
            }
        },

        watch: {
            '$v.mail.$invalid'(current) {
                let button = $('.sendMail')
                if(current) {
                    button.removeClass('animated jello');
                }else{
                    button.addClass('animated jello');
                }
            }
        },

        validations: {
            mail: {
                name: {required, minLength: minLength(5)},
                email: {required, email},
                phone: {required},
                subject: {required},
                service: {required},
                message: {required, maxLength: maxLength(250)}
            }
        },

        methods: {
            send(event, mail) {
                var loader = $('.form-process');
                var form = $(event.target).find('input,textarea');

                form.prop('disabled', true); // desativar campos

                loader.fadeIn();

				setTimeout(() => {

					axios.post('/services/send-mail', mail)
                        .then(response => {
                            // console.log(response)
                            if(response.status === 204) {
                                this.feedback.message = 'Formulário enviado com sucesso';
                                this.feedback.icon = 'success';
                                this.$refs.feedback.open();
                                this.reset();
                            }
                        })
                        .catch(error => {
                            this.feedback.message = `Ocorreu um problema, contate o administrador.`;
                            this.feedback.icon = 'error';
                            this.$refs.feedback.open();
                        })

                        loader.fadeOut(500, () => {
                            form.prop('disabled', false); // habilitar campos
                        })
				}, 1000)
            },

            reset() {
                // redefinir formulário
                this.mail = this.copyMail;
                // limpar validadores
                this.$v.mail.$reset();
            }
        },

        created() {
            this.copyMail = _.cloneDeep(this.mail);
        }
    }
</script>

<style lang="scss" scoped>
    button[disabled]{
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>
