<template>
    <div id="form-reserva">
        <form class="nobottommargin" method="post" @submit.prevent="send(dados)" novalidate autocomplete="off">
            <div class="col-xs-12 col-md-7">
                <label for="name">Nome <small>*</small></label>
                <input type="text"
                       id="name"
                       v-model="dados.name"
                       @input="$v.dados.name.$touch()"
                       class="sm-form-control"
                       :class="{'error': $v.dados.name.$error}"
                       placeholder="Nome completo">
            </div>

            <div class="col-md-5">
                <label for="phone">Telefone <small>*</small></label>
                <the-mask
                        :mask="['(##) ####-####', '(##) #####-####']"
                        id="phone"
                        type="phone"
                        v-model="dados.phone"
                        @input="$v.dados.phone.$touch()"
                        class="sm-form-control"
                        :class="{'error': $v.dados.phone.$error}"
                        placeholder="Telefone/Celular"></the-mask>
            </div>

            <div class="clearfix bottommargin-sm"></div>

            <div class="col-xs-12 col-md-7">
                <label for="email">E-mail <small>*</small></label>
                <input
                        type="email"
                        id="email"
                        v-model="dados.email"
                        @input="$v.dados.email.$touch()"
                        class="sm-form-control"
                        :class="{'error': $v.dados.email.$error}"
                        placeholder="E-mail válido">
            </div>

            <div class="col-md-5">
                <label for="assunto">Assunto</label>
                <select
                        id="assunto"
                        v-model="dados.subject"
                        :class="{'error': $v.dados.subject.$error}"
                        @input="$v.dados.subject.$touch()"
                        class="sm-form-control">
                    <option value="" selected disabled>-- Escolha o Assunto --</option>
                    <option value="anunciar">Anunciar Reserva</option>
                    <option value="regularizar">Regularizar Reserva</option>
                </select>
            </div>

            <div class="clearfix bottommargin-sm"></div>

            <div>
                <div class="col-md-8 addressInfo">
                    <label for="city">Cidade <small>*</small></label>
                    <input
                            type="text"
                            id="city"
                            v-model="dados.city"
                            @input="$v.dados.city.$touch()"
                            class="sm-form-control"
                            :class="{'error': $v.dados.city.$error}"
                            placeholder="Cidade" :disabled="geolocation">
                </div>

                <div class="col-md-4 addressInfo">
                    <label for="state">Estado <small>*</small></label>
                    <input type="text"
                           id="state"
                           v-model="dados.state"
                           @input="$v.dados.state.$touch()"
                           :class="{'error': $v.dados.state.$error}"
                           placeholder="SP"
                           maxlength="2"
                           class="sm-form-control" :disabled="geolocation">
                </div>

                <div class="col-md-12">
                    <span style="margin-top: .5em; float: right;">
                        <a @click.prevent="resetAddress" href="#">Endereço errado?</a>
                    </span>
                </div>
            </div>

            <div class="clearfix bottommargin-sm"></div>

            <div class="col-md-12 bottommargin-sm">
                <label for="note">Mensagem</label>
                <textarea
                        class="sm-form-control"
                        v-model="dados.note"
                        id="note"
                        rows="4"
                        cols="30"
                        @input="$v.dados.note.$touch()"
                        :class="{'error': $v.dados.note.$error}"
                        placeholder="Descreva seu interesse em anunciar, comprar ou legalizar sua reserva.">
				</textarea>
                <span class="feedback" style="float: right;font-size: .8em;color: #999;">({{ dados.note.length}} / 250)</span>
            </div>

            <div class="col-md-12">
                <button class="button button-3d nomargin">Cadastrar Interesse</button>
            </div>
        </form>

        <sweet-modal :icon="feedback.icon" ref="feedback" overlay-theme="dark" width="400">
            {{ feedback.message }}
        </sweet-modal>
    </div>
</template>
<script>

    // componentes
    import {SweetModal} from 'sweet-modal-vue'
    import {TheMask} from 'vue-the-mask'

    // validations
    import { validationMixin } from 'vuelidate'
    import {required,email,maxLength, minLength} from 'vuelidate/lib/validators'

    export default {

        name: 'form-reserva',

        mixins: [validationMixin],

        props: ['token'],

        components: {
            TheMask,
            SweetModal
        },

        data() {
            return {
                geolocation: false,
                dados: {
                    name: '',
                    phone: '',
                    email: '',
                    subject: '',
                    city: '',
                    state: '',
                    note: ''
                },
                feedback: {
                    message: null,
                    icon: 'success'
                }
            }
        },

        watch: {
            'dados.state'(state) {
                if(state)
                    this.dados.state = state.toUpperCase();
            }
        },

        validations: {
            dados: {
                name: {required},
                phone: {required},
                email: {required, email},
                subject: {required},
                city: {required},
                state: {required, minLength: minLength(2), maxLength: maxLength(2)},
                note: {maxLength: maxLength(250)}
            }
        },

        methods: {
            send(dados) {

                if(this.$v.dados.$invalid) {
                    this.feedback = {
                        message: 'Certifique-se de que os dados foram preenchidos corretamente!',
                        icon: 'info'
                    };
                    this.$refs.feedback.open();
                    return;
                }

                axios.post('/services/pre-registration', dados)
                    .then(response => {
                        this.feedback = {
                            message:  'Recebemos seu cadastro, aguarde em breve entraremos em contato!',
                            icon: 'success'
                        };
                        this.$refs.feedback.open();
                        this.reset();
                    })
                    .catch((error) => {
                        this.feedback = {
                            message: 'Informe o erro código: ' + error.response.status + ' ao administrador.',
                            icon: 'error'
                        };
                        this.$refs.feedback.open()
                    })
            },

            reset() {
                this.dados = {
                    name: '',
                    phone: '',
                    email: '',
                    subject: '',
                    // city: '',
                    // state: '',
                    note: ''
                };

                this.$v.dados.$reset();
            },

            resetAddress() {
                let elements = $('.addressInfo');

                elements.removeClass('animated fadeInDown').addClass('animated fadeOutUp');
                // informar endereço manualmente
                this.dados.city=null;
                this.dados.state=null;
                this.geolocation = false;

                setTimeout(() => elements.removeClass('animated fadeOutUp').addClass('animated fadeInDown'), 300);
            }
        },

        created() {
            if('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition((position) => {
                    this.geolocation = true;
                    let {latitude, longitude} = position.coords;
                    var cliente = new XMLHttpRequest();
                    cliente.onreadystatechange = (response) => {
                        if(response.currentTarget.readyState === 4 && response.currentTarget.status === 200) {
                            var result = JSON.parse(response.currentTarget.responseText);
                            //console.log(result)
                            var address = result.results[1].address_components;
                            this.dados.city = address[2].long_name;
                            this.dados.state = address[3].short_name;
                        }
                    };
                    cliente.open('GET', `https://maps.googleapis.com/maps/api/geocode/json?latlng=${latitude},${longitude}&key=${this.token}`, true);
                    cliente.send();
                });
            }
        }
    }
</script>
