<template>
    <div class="panel panel-default">

        <div class="panel-title">
            Reservas Cadastradas
            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-success" @click="ready">
                    <i class="fa fa-refresh"></i> Atualizar
                </button>
            </div>
        </div>
        <!--table-responsive-->
        <div class="panel-body" id="reservations">
            <b-table
                    responsive
                    show-empty
                    empty-text="Nenhuma reserva foi cadastrada."
                    stacked="md"
                    id="reservations-table"
                    :items="list"
                    :fields="dataTable.fields"
                    :current-page="dataTable.currentPage"
                    :per-page="dataTable.perPage"
                    :filter="dataTable.filter"
                    :sort-by.sync="dataTable.sortBy"
                    :sort-desc.sync="dataTable.sortDesc"
                    @filtered="onFiltered">
                <template slot="id" slot-scope="row">
                    <div class="checkbox">
                        <input :id="'reservations_' + row.index" type="checkbox" v-model="selected" :value="row.index">
                        <label :for="'reservations_' + row.index">
                            <b>{{ row.value }}</b>
                        </label>
                    </div>
                </template>
                <template slot="nome" slot-scope="row">
                    <span v-if="!row.item.preRegistration">
                        Sem pré-cadastro!
                    </span>
                    <span v-else>
                        {{ row.item.preRegistration.name }} <br> {{ row.item.preRegistration.email}}
                    </span>
                </template>
                <template slot="proprietario" slot-scope="row">
                    {{ row.item.propietario }} <br> {{ row.item.fazenda }}
                </template>
                <template slot="ativo" slot-scope="row">
                    <span class="label" :class="{'label-success': row.value, 'label-danger': !row.value}">
                        {{ row.value ? 'sim' : 'não' }}
                    </span>
                </template>
                <template slot="row-details" slot-scope="row">
                    <div class="row more_info">
                        <div class="col-md-3">
                            <span>Área / Tipo</span>
                            <span>{{ row.item.tamanho_area}} {{ row.item.area_tipo}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Minicio Cartorio</span>
                            <span>{{ row.item.municipio_cartorio}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Minicipio / Estado</span>
                            <span>{{ row.item.municipio}} / {{ row.item.estado }}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Georeferência</span>
                            <span>{{ row.item.georeferencia }}</span>
                        </div>
                    </div>
                    <div class="row more_info">
                        <div class="col-md-3">
                            <span>Inscrição</span>
                            <span>{{ row.item.inscricao_car }}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Matricula</span>
                            <span>{{ row.item.matricula }}</span>
                        </div>
                        <div class="col-md-3">
                            <span>Atualização</span>
                            <span>{{ row.item.updated_at }}</span>
                        </div>
                    </div>
                </template>
                <template slot="actions" slot-scope="row">
                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-icon"
                                :href="'/dashboard/reservations/' + (row.item.preRegistration ? row.item.preRegistration.id + '/ficha' : row.item.id)"
                                data-toggle="tooltip" data-title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button class="btn btn-icon"  @click="row.toggleDetails" data-toggle="tooltip" data-title="Informações">
                            <i class="fa" :class="{'fa-minus-circle': row.detailsShowing, 'fa-plus-circle': !row.detailsShowing}"></i>
                        </button>
                        <button class="btn btn-icon"
                                @click="openListInterest(row.item)"
                                data-toggle="tooltip" data-original-title="Interessados">
                            <i class="fa fa-users"></i>
                        </button>
                        <button class="btn btn-danger" data-toggle="tooltip" data-title="Remover?" @click="trash(row.index, row.item.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </template>
            </b-table>
        </div><!-- panel-body -->

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-sm pull-right">
                        <a href="/dashboard/reservations/new" class="btn btn-success"><i class="fa fa-plus"></i>Novo</a>
                        <button class="btn btn-danger" :disabled="selected.length === 0"><i class="fa fa-trash"></i>Remover selecionados</button>
                    </div>
                </div><!-- col-md-6 -->
            </div>
        </div>

        <!-- list interest-->
        <sweet-modal blocking ref="interest" overlay-theme="dark" width="70%" style="z-index: 20002">
            <h2 style="line-height: 3em;" slot="title">Lista de Interessados</h2>
            <table class="table table-striped" v-if="interestItem.length > 0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Contato</th>
                    <th>Cadastro</th>
                    <th>Opções</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(item,index) in interestItem" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-rounded btn-danger"
                                    @click="removeInterestItem(item.id)"
                                    data-toggle="tooltip"
                                    data-original-title="Remover">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button v-if="!item.visualized"
                                    class="btn btn-success"
                                data-toggle="tooltip"
                                    @click="markReadInterest(item.id)"
                                data-original-title="Marcar como visto">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="text-align: left" v-else>
                Não encotramos interessados nessa reserva.
            </p>
        </sweet-modal>
        <!-- list interest-->

        <!-- feedback -->
        <sweet-modal ref="feedback" :icon="feedback.icon" overlay-theme="dark" width="400">
            {{ feedback.message }}
        </sweet-modal>
        <!-- feedback -->
    </div><!-- panel-default -->
</template>

<script>

	// components
	import {SweetModal} from 'sweet-modal-vue'

	export default {
		name: "ManageReservations",

		components: {
			SweetModal
		},

		data() {
			return {
				list: [],
				selected: [],
				dataTable: {
					fields: [
						{key: 'id', label: 'Id', sortable: true},
						{key: 'nome', label: 'Nome/Email', sortable: true},
						{key: 'proprietario', label: 'Proprietario/Fazenda', sortable: true},
						{key: 'bioma', label: 'Bioma', sortable: true},
						{key: 'ativo', label: 'Publicou?', sortable: true},
						{key: 'actions', label: 'Opções'}
					],
					currentPage: 1,
					perPage: 5,
					totalRows: 0,
					pageOptions: [ 5, 10, 15 ],
					sortBy: null,
					sortDesc: false,
					filter: null
				},
				interestItem: [],
				feedback: {
					message: 'algo.',
					icon: 'info'
				}
			}
		},

		computed: {
			sortOptions () {
				return this.dataTable.fields
				.filter(f => f.sortable)
				.map(f => { return { text: f.label, value: f.key } })
			}
		},

		watch: {
			list(items) {
				if(items !== undefined) {
					this.dataTable.totalRows = items.length
				}
			}
		},

		methods: {
			/**
			 * Reorganizar lista apos filtrar
			 *
			 */
			onFiltered(filteredItems) {
				this.dataTable.totalRows = filteredItems.length;
				this.dataTable.currentPage = 1;
			},
			/**
			 * Obtem registros
			 *
			 */
			ready() {
				this.list = [];
				//

				this.$loading();

				axios.get('/services/reservations?moreInfo')
				.then(respose => {
					this.list = respose.data.data
				})
			},
			/**
			 * Redimenssionar tabela de acordo com sua altura.
			 *
			 * @param height
			 * @param remove
			 */
			updateHeightBox() {
				const table = document.querySelector('#reservations-table');
				const panel = $('#reservations');
				if(!table) throw 'Tabela não calculada!';
				panel.animate({height: table.clientHeight + 'px'}, 400)
			},
			/**
			 *
			 * @param index
			 * @param id
			 */
			trash(index, id) {

				if(confirm('Tem certeza que deseja remover esse registro?')) {

					axios.delete('/services/reservations/' + id)
					.then(response => {
						if(response.status === 204) {
							this.$toastr('success', {
								title: 'Registro removido!',
								msg: 'Você acaba de remover a reserva do banco de dados.',
								onClosed: () => this.list.splice(index, 1)
							})
						}
					})
				}
				// this.list.splice(index, 1);
				// console.info('remover: ' + id)
			},
			/**
			 *
			 * Obtem lista de interessados na reserva
			 *
			 * @param item
			 *
			 */
			openListInterest(item) {
				// set list
				this.interestItem = item.interested;

				// open
				this.$refs.interest.open();
			},

			/**
			 * Remover usuario da lista de interessados
			 *
			 * @param id
			 */
			removeInterestItem(id) {
				let index = _.findIndex(this.interestItem, item => item.id === id);

				if(index === -1) throw 'Registro não encontrado';

				axios.delete('/services/bank-reservations/interest/' + id)
                    .then(response => {
                        if(response.status === 204) {
                            this.feedback.message = 'Registro removido com sucesso',
                            this.feedback.icon = 'success';
                            this.$refs.feedback.open();
                            this.interestItem.splice(index, 1); // remove
                        }
                    });
			},
			/**
             * Marcar como visto, interessado na reserva.
             *
			 * @param id
			 */
			markReadInterest(id) {
				let index = _.findIndex(this.interestItem, item => item.id === id);

				if(index === -1) throw 'Registro não encontrado';

				axios.patch('/services/bank-reservations/interest/' + id, {visualized: true})
                .then(response => {
                	let data = response.data;
                	//
                	_.forEach(data, (item) => _.set(this.interestItem[index], _.keys(item), _.values(item)));
                })
            }
		},

		mounted() {
			// carregar registros
			this.ready();

			// this.$refs.interest.$on('close');

		},
		updated() {
			let tooltips = $('[data-toggle="tooltip"]')
			if(tooltips.length > 0) {
				tooltips.tooltip();
			}
		}
	}
</script>

<style lang="scss" scoped>
    .sweet-modal .sweet-title > h2 {line-height: 3em; }
    .more_info { width: 97%; margin: auto; background-color: #f5f5f5; border-bottom: 1px solid #ccc; }
    /*.more_info { background-color: darkslategrey; }*/
    .more_info > div > span {
        display: block;
        padding: .3em;
        text-align: center;
        /*color: white;*/
        /*background-color: white;*/
        &:first-child {
            text-transform: uppercase;
            font-weight: bold;
            color: black;
        }
    }
</style>
