<template>
    <div class="modal fade" id="infoReservation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" v-if="item">
                <div class="modal-header">
                    <button type="button" class="close btn btn-xs btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Informações da Reserva</h4>
                </div>
                <div class="modal-body">
                    <h4>Assunto: {{ item.subject }}</h4>

                    <ul>
                        <li>Por: <b>{{ item.name }}</b> em <b>{{ item.created_at }}</b></li>
                        <li><small>E-mail: <a :href="'mailto:' + item.email">{{ item.email }}</a></small></li>
                        <li>Telefone: {{ item.phone }}</li>
                        <li>Cidade: {{ item.city }} - {{ item.state }}</li>
                    </ul>

                    <p style="padding: .5em; background-color: whitesmoke; box-sizing: content-box">{{ item.note }}</p>
                </div>
                <div class="modal-footer">
                    <a :href="'/dashboard/reservations/' +item.id+ '/ficha'" class="btn btn-success">Informações</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            <div v-else>
                <p class="text-center">Informações não foram carregadas.</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal-reserva",

        data() {
            return {
                item: null
            }
        },

        created() {
            this.$root.$on('row', (item) => this.item = item)
        }
    }
</script>

<style scoped>
    ul {
        padding: 10px;
        background-color: whitesmoke;
    }
    ul > li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>