
/* ----------------------------------------------------------------Custom CSSAdd all your Custom Styled CSS here for New Styles orOverwriting Default Theme Styles for Better Hanlding Updates-----------------------------------------------------------------*/

.boxed {
    background: #FFF;
}


/*.section.light{background: rgba(243, 243, 243, 0.5);margin: 0;padding: 80px 0 100px 0;}*/

.text-primary {
    color: #ffbe00 !important;
}

.text-white {
    color: #FFF !important;
}

.section-primary {
    background: #ffbe00 !important;
    color: #fff;
}

.section-primary .feature-box h3 {
    color: #333;
}

.section-primary .feature-box p {
    color: #111;
}

.section-dark {
    background: #111 !important;
}

.bg-primary {
    background: #ffbe00;
    padding: 3px 3px 3px 10px;
}

.bg-red {
    background: #a81b3c;
    padding: 3px 3px 3px 10px;
}

.bg-red h3 {
    color: #FFF;
}

.bg-blue {
    background-color: #337ab7;
    padding: 3px 3px 3px 10px;
}

.bg-blue h3 {
    color: #FFF;
}

.allEstablishments .col-md-4 {
    margin-bottom: 10px;
}

.allEstablishments .col-md-4 .ipost {
    border-right: 1px solid #DDD;
    padding-right: 10px;
    height: 300px;
}

@media screen and (max-width:991px) {
    .allEstablishments .col-md-4 .ipost {
        height: 410px;
    }
}

@media screen and (max-width:767px) {
    .allEstablishments .col-md-4 .ipost {
        height: auto;
        padding-bottom: 20px;
    }
}

.allEstablishments .col-md-4+.col-md-4+.col-md-4 .ipost {
    border: 0;
}

.allEstablishments .badgeCategory {
    position: absolute;
    top: 30px;
    right: 24px;
}

ul.listCalendars {
    width: 100%;
    float: left;
    list-style: none;
}

ul.listCalendars li {
    display: inline-block;
    width: 30%;
    margin: 0 3% 2% 0;
    border: 1px solid #DDD;
    border-radius: 3px;
}

ul.listCalendars li div.title {
    width: 100%;
    float: left;
    background: #FFF;
    text-align: center;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

ul.listCalendars li div.title h3 {
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

ul.listCalendars li div.title h3 a {
    color: #111;
}

ul.listCalendars li div.description {
    width: 100%;
    float: left;
    position: relative;
}

ul.listCalendars li div.description div.date {
    float: left;
    width: 15%;
}

ul.listCalendars li div.description div.date span {
    width: 100%;
    float: left;
    background: #a81b3c;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}

ul.listCalendars li div.description div.date div {
    width: 100%;
    float: left;
    background: #f1f1f1;
    color: #111;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

ul.listCalendars li div.description div.locale {
    float: right;
    width: 84%;
}

ul.listCalendars li div.description div.locale h4 {
    font-size: 11px;
    margin: 0;
    padding: 4px 0;
    font-family: 'Open Sans', sans-serif;
}

ul.listCalendars li div.description div.locale ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
}

ul.listCalendars li div.description div.locale ul li {
    padding: 3px 5px;
    margin: 0;
    border: 0;
    width: auto;
    font-size: 12px;
}

ul.listCalendars li div.description div.locale ul li i.fa {
    font-size: 11px;
}

@media screen and (max-width:991px) {
    ul.listCalendars li {
        width: 45%;
    }
}

@media screen and (max-width:767px) {
    ul.listCalendars li {
        width: 99%;
    }
}

ul.infoCalendars {
    margin: 10px 0 20px 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul.infoCalendars li {
    display: list-item;
    padding: 5px 0;
    font-size: 15px;
}

ul.infoCalendars li>i {
    width: 25px !important;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-primary {
    color: #fff;
    background-color: #007bff
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #545b62
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #117a8b
}

.badge-warning {
    color: #212529;
    background-color: #ffc107
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #d39e00
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5
}

.badge-dark {
    color: #fff;
    background-color: #343a40
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124
}

.badge-theme {
    color: #000;
    background-color: #ffbe00
}

.badge-theme[href]:hover,
.badge-theme[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.tp-video-play-button {
    display: none !important;
}

.tp-caption {
    white-space: nowrap;
}

.boxNewslleter {
    position: relative;
    background: #FFF;
    float: left;
    width: 100%;
    padding: 10px 20px;
}

.boxNewslleter .boxs {
    margin: 0.5%;
}

.boxNewslleter .box_one {
    width: 24%;
    float: left;
}

.boxNewslleter .box_two {
    width: 24%;
    float: left;
}

.boxNewslleter .box_three {
    width: 49%;
    float: left;
}

@media screen and (max-width:991px) {
    .boxNewslleter .box_one {
        width: 99%;
    }
    .boxNewslleter .box_two {
        width: 99%;
    }
    .boxNewslleter .box_three {
        width: 99%;
    }
}

.sombra-div {
    width: 100%;
    height: 48px;
    float: left;
    background: url(/galerias/sombra-div.png) no-repeat center center;
    position: relative;
    bottom: 0;
    z-index: 9;
}

#footer .footer-widgets-wrap ul.footer-phones {
    width: 100%;
}

#footer .footer-widgets-wrap ul.footer-phones li {
    display: inline-block;
    padding: 0 5px;
}

#footer .footer-widgets-wrap ul.footer-phones li:first-child {
    padding: 0 5px 0 0;
}

#footer .footer-widgets-wrap .widget.widget_links ul li ul {
    display: none;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.paginateHome .pagination li.disabled span {
    background: #F2F2F2;
}

.paginateHome .pagination>li>a,
.paginateHome .pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 9px;
    font-size: 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    margin-left: -1px;
}

#section-header {
    border-top: 15px solid #febe11 !important;
}

#section-header .emphasis-title {
    margin: 0 0 20px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}

.breadcrumb>.active {
    color: #ffbe00;
    font-weight: bold;
}

.box-category-home {
    width: 60%;
    min-height: 350px;
    display: block;
    margin: -310px auto 0px;
    background: #FFF;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    position: relative;
    z-index: 6;
}

.box-category-home-shadow {
    width: 60%;
    height: 300px;
    display: block;
    margin: -200px auto 0;
    background: #FFF;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 6;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media screen and (max-width:967px) {
    .box-category-home,
    .box-category-home-shadow {
        width: 100%;
    }
}

.box-category-home h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.box-category-home .item-category img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: block;
    margin: 0 auto 20px;
}

.box-category-home .item-category h2 {
    font-family: 'Avenur-Book', 'Open sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

#section-home .testimonial {
    position: relative;
    float: left;
    padding: 20px;
    border-radius: 0px;
    border: 0;
    box-shadow: none;
}

#section-home.page-search .testimonial {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
}

#section-home.page-search .testi-meta span {
    text-shadow: none;
}

#section-home.page-search .testi-image img {
    border: 1px solid #DDD;
}

#section-home.page-search .testi-image,
#section-home.page-search .testi-image a,
#section-home.page-search .testi-image img,
#section-home.page-search .testi-image i {
    box-shadow: none;
}

#section-home .testi-image {
    float: left;
    margin-right: 15px;
}

#section-home .testi-image,
#section-home .testi-image a,
#section-home .testi-image img,
#section-home .testi-image i {
    display: block;
    width: 100%;
    height: 150px;
}

#section-home .testi-image i {
    text-align: center;
    background-color: #EEE;
    border-radius: 50%;
    line-height: 200px;
    font-size: 28px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}

#section-home .testi-image img {
    border-radius: 0px !important;
}

#section-home .testi-content {
    float: left;
}

#section-home .testi-meta {
    font-size: 14px;
}

#section-home .testi-meta h2 {
    font-size: 15px;
    font-weight: 600px;
    color: #423f3e;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#section-home .testi-meta span {
    display: block;
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
    padding-left: 5px;
    color: #423f3e;
}

#section-calendar {
    padding: 30px 0;
}

#section-calendar .team .team-date {
    position: absolute;
    top: -24px;
    left: 10px;
    z-index: 9;
    background: #febe11;
    color: #423f3e;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 5px 5px 0 0;
}

#section-calendar .team-title h4 a {
    color: #FFF;
}

#section-calendar.light .team-title h4 a {
    color: #403d3c;
}

#section-calendar .team-title h4 a:hover {
    color: #ffbe00;
}

#section-calendar .team-title span {
    color: #CCC;
    font-size: 13px;
}

#section-calendar.light .team-title span {
    color: #403d3c;
}

#section-calendar .team-title:after {
    width: 50px;
    height: 1px;
    background: #ddd;
    content: '';
    float: none;
    margin: 10px auto;
    position: relative;
    display: block;
}

#section-calendar .team-image,
#section-calendar .team-image img {
    width: 100%;
    height: 150px;
    display: block;
    border-radius: 5px;
}

#section-calendar .team-image img {
    border: 3px solid #febe11;
}

#section-calendar .team-image .badge-theme {
    color: #423f0e;
    background: #ffbe00;
    padding: 4px 9px;
    margin: 5px 0 0 2px;
}

.publicity-header {
    width: 100%;
    display: block;
    float: left;
    text-align: right;
}

.publicity-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.publicity-header ul li {
    display: inline-block;
}

.publicity-header ul li img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.publicity-header.footer {
    text-align: center;
    margin: 30px 0;
}

.publicity-header.footer img {
    border: 1px solid #0000006b;
}


/* SECTION - REDES SOCIAIS */

#section-redesociais {
    padding: 100px 0;
}


/* SECTION - BLOG */

#section-blog {
    padding: 100px 0;
}

.blogsAll .feature-box.media-box .fbox-media,
.blogsAll .feature-box.media-box .fbox-media a,
.blogsAll .feature-box.media-box .fbox-media img {
    height: 190px;
}

.blogsAll .feature-box.media-box {
    display: inline-block;
}

.blogsAll .feature-box h3,
.blogsAll .feature-box h3 a {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    min-height: 60px;
    letter-spacing: 0px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #423f0e;
}


a.box-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 90px;
    z-index: 999999;
    background: #3adb76;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

a.box-whatsapp img {
    width: 21px;
    color: #FFF !important;
}

.imgHeader{
    background-image: url('/galerias/bg_header_2.jpg?1');
    background-position: top center !important;
}