<template>
    <div class="row">
        <!--BEGIN: col-md -->
        <div class="col-md-4 bottommargin item" v-for="(item,index) in list">
            <div class="feature-box media-box">
                <div class="fbox-desc">
                    <a :href="'/banco-reservas/' + bioma + '/info/' + item.id">
                        <h3>
                            Reserva de {{ item.tamanho_area }}/ {{ item.area_tipo}}
                            <span class="subtitle">{{ item.municipio }} - {{ item.estado }}</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <!--END: col-md -->

        <!--BEGIN: col-md -->
        <div class="col-md-12" v-if="list.length <= 0">
            <p style="text-align: left; padding: .5em;">
                Não existem reservas cadastradas nesse bioma.
            </p>
        </div>
        <!--END: col-md -->
    </div>
</template>

<script>
	export default {
		name: "ListReservations",

        props: {
			bioma: String,
            list: Array
        },

        mounted() {
			// $('[data-toggle="tooltip"]').tooltip();
        }
	}
</script>

<style lang="scss" scoped>
    .item {
        background: whitesmoke;
        padding: 1em;
        margin: .3em;
        text-align: center;

        &:hover {
            background: #ffbe00;
            transition: all 1s ease;
            cursor: pointer;
        }
    }
</style>